# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment folders
venv/
.venv/
env/
ENV/

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log
